* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    font-family: 'Inter', sans-serif;
}

h1 {
    color: red;
}

#root {
    height: 750px;
    max-width: 550px;
    border: 1px solid red;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 55px;
    width: 100%;
    background-color: #f55a5a;
}

.nav--header {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

section {
    padding: 20px;
}

.card {
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 20px;
}

.card--image {
    width: 125px;
    height: 168px;
}

.card--info {
    padding: 16px;
}

.card--location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card--location-name {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}

.card--location-google {
    font-size: 10px;
    color: #918e9b;
    text-decoration: underline;
    margin-left: 10px;
}

.card--info-title {
    font-weight: 700;
    font-size: bold;
    color: #2B283A;
    margin-top: 8px;
}

.card--info-dates {
    font-size: 10px;
    font-weight: 700;
    margin-top: 20px;
}

.card--info-desc {
    font-size: 10px;
    line-height: 16px;
    margin-top: 8px;
}